.profile {
    display: flex;
    justify-content: space-between;
    background-color: #F0F2F5;
    height: calc(100vh - 50px);
    width: 100vw;
}
.content {
    width: 600px;
    /* display: flex; */
    justify-content: center;
    
}

.cover-img {
    width: 600px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.seperator {
    height: 1px;
    background-color: #ced0d4;
}
#avatar-circle{
    text-align: center;
}
.avatar {
    
    /* background-position: top center; */
    vertical-align: middle;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }