.header {
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.logoHeader {
  height: 50px;
}

.imageHeader {
  height: 30px;
}

.searchFagoda {
  background-color: #f0f2f5;
  border-radius: 25px;
  height: 40px;
  display: flex;
  align-items: center;
}

.notifications {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  width: 360px;
  height: 500px;
  padding: 15px;
}

.popupHeader {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.settingHeader {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}