.rightTab {
    width: 300px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
    background-color: white;
}

.seperator {
    height: 1px;
    background-color: #ced0d4;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}